# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
demo
dist
*.tsbuildinfo
vite.config.js
vite.config.d.ts
mydoc
docs
.worktrees/
package-lock.json